
#map{
    height: 100%;
    width: 100%;
}

.map-box{
    width: 100%;
    height: 95rem;
    background-color: white;
    margin-bottom: 2rem;
}


::placeholder{
    font-weight: 500;
    font-family: sans-serif;
    font-size: 60px;
    opacity: 50%;

}

.flex-container{
    display: flex;
    justify-content: center
}

.input-destination{
    border-radius: 50px;
    border-color: black;
    height: 100px;
    margin-top: 150%;
    margin-left: 2%;
    padding-top: 10px;
    font-size: 60px;
    font-weight: 500;
    font-family: sans-serif;
}

/* HOME BUTTON */
.material-symbols-outlined {
    font-size: 100px !important;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

.Home:active{
    border-radius: 80px;
    background-color: #FDFDBD;
    height: 60%;
    width: 20%
}

.Feed:active {
    border-radius: 80px;
    background-color: #FDFDBD;
    height: 60%;
    width: 20%;
}
.Chat:active {
    border-radius: 80px;
    background-color: #FDFDBD;
    height: 60%;
    width: 20%;
}
.Radio:active {
    border-radius: 80px;
    background-color: #FDFDBD;
    height: 60%;
    width: 20%;
}
.Help:active {
    border-radius: 80px;
    background-color: #FDFDBD;
    height: 60%;
    width: 20%;
}

/* FEED BUTTON */ 
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.flex-container {
    display: flex;
    height: 200px;
    align-items: flex-start;
}

.flex-container>div {
    background-color: white;
    width: 190px;
    margin: 10px;
    margin-top: 55px;
    text-align: center;
    font-size: 30px;
}

.search{
    margin-top: 20px;
    margin-bottom: 0;
}

