.welcome {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 80px;
    margin-top: 50px;
    margin-left: 25px;
}

.select{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 25px;
}

.web{
    height: 150px;
    width: 150px;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

.circle-web {
    background: #FDFDBD;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-top: 15rem;
    margin-left: 23rem;
    margin-bottom: 12rem;
}

.online-btn {
    background: #FDFDBD;
    border-radius: 24px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding: 40px 100px;
    text-decoration: none;
    margin-top: 5rem;
    margin-left: 18rem;
    border-color: #f7f8de;
    position: absolute;
}

.offline-btn {
    background: #B2B2B2;
    border-radius: 24px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding: 40px 90px;
    text-decoration: none;
    margin-top: 18rem;
    margin-left: 18rem;
    border-color: #f7f8de;
}

.question {
    height: 70px;
    width: 70px;
    margin-top: 2rem;
    margin-left: 2rem;
}
.circle-question {
    background: #FDFDBD;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-top: 23rem;
    margin-left: 51rem;
    margin-bottom: 12rem;
}

