.body{
    
}
.welcome-black{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 200px;
    margin-left: 20px;
}

.welcome-darkgreen{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-left: 20px;
    color: #70721e;
}

.get-started{
    background: #f7f8de;
    border-radius: 24px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 18rem;;
    margin-left: 6.5rem;
    border-color: #f7f8de;
}